.App {
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.routes{
  margin: 20px;
}

.margin{
  margin-right: 4px;
}

.retrecir{
  max-width: 21vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.margin-bottom{
  margin-bottom: 10px;
}

.nf{
  align-items: center;
  text-align: center;
}

